
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 2%;
}

.actor-link {
	text-decoration: none;
}

@media screen and (min-width: 834px) {
	.info {
		flex-direction: row;
		justify-content: space-between;
	}

	.info__container {
		width: 50%;
	}

	.info__img {
		max-height: 100vh;
		width: 50%;
	}
}
